
 body { visibility: hidden; }

button{
  font-size: 16px;
}

#i0{
  border: none;
}


#subj_info {
  border: none;
}
  
  .slide {
    /*pad the inside of the slide*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  
      /*center slide within the window*/
    margin: auto auto;
    margin-top: 0px;
  
    /*all elements in a slide will be centered by default*/
      text-align: center;
  
      border: 1px solid #04abe3;
      width: 1200px;
      height: 1600px;
  
      /*could explicitly set the following, but these are the defaults for me (chrome, linux)*/
      font-size: 20px;
      background-color: rgb(255,255,255);
  }

  .movieL {
    position: absolute;
    left: 18% ;
    top:8%;
    display:block;
    background-color: rgb(120, 196, 221);
  }

  .movieC {
    position: absolute;
    left: 44%;
    top:8%;
    background-color: rgb(120, 196, 221);
  }

  .movieR {
    position: absolute;
    left: 69%;
    top:8%;
    background-color: rgb(120, 196, 221);
  }

  .movieI {
    position: absolute;
    left: 44%;
    top:400px;
    background-color: rgb(120, 196, 221);
  }

  .skipButton {
    position: absolute;
    top: 600px;
    left: 43% ;
  }

  .checkboxtable {
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    }


  .contentContainerL {
    position: absolute;
    display: block;
    height:400px;
    width:300px;
    left:11%;
    top:13%;
    border: 3px black solid;
    align-items: center;
  }

  .contentContainerC {
    position: absolute;
    display: block;
    height:400px;
    width:300px;
    left:37%;
    top:13%;
    border: 3px black solid;
    align-items: center;
  }

  .contentContainerR {
    position: absolute;
    display: block;
    height:400px;
    width:300px;
    left:62%;
    top:13%;
    border: 3px black solid;
    align-items: center;
  }

  .contentContainerI {
    position: absolute;
    display: block;
    height:400px;
    width:300px;
    left:37%;
    top:450px;
    border: 3px black solid;
    align-items: center;
  }

  .textL {
    position: relative;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .textC {
    position: relative;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .textR {
    position: relative;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .textI {
    position: relative;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .trailerL {
    position: absolute;
    left:18%;
    top:520px;
  }

  .trailerC {
    position: absolute;
    left:44%;
    top:520px;
  }

  .trailerR {
    position: absolute;
    left:69%;
    top:520px;
  }

  .trailerI {
    position: absolute;
    left:44%;
    top:860px;
  }